<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="//cdn.dtwave.com/public/surfers/64_favicon.ico" type="image/x-icon">
    <title><%= htmlWebpackPlugin.options.pageTitle %></title>
    <%= htmlWebpackPlugin.options.publicCSS %>
    <%= htmlWebpackPlugin.options.privateCSS %>
</head>
<body>
    <div id="root"></div>
    <%= htmlWebpackPlugin.options.publicJS %>
    <%= htmlWebpackPlugin.options.privateJS %>
</body>
</html>
