body {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑","Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
    color: #333;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 100% !important;
}

body {
  font-size: 14px !important;
  width: 100%; min-width: 1200px;
  color: #333;
  /*background-color: #f7f7f7;*/
  padding: 0; margin: 0; width: 100%;
}
.w1200{
  width: 1200px; margin: 0 auto;
}
.ant-modal-footer{
  text-align: center;
}
.ant-popover-buttons{
  text-align: center;
  button{
    &:last-child{
      margin-left: -95px;
    };
  }
}
.ant-table {
  font-size: 14px !important;
}
label {
  font-size: 14px !important;
}